@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.section-cart {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 0 90px;
}

.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}